<div class="row w-100 m-0 p-0">
  <div class="row w-100 mt-2">
    <div class="col pr-0 ml-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Angular 12</li>
          <li class="breadcrumb-item active" aria-current="page">Google Maps Example</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row w-100 m-0 mt-1 pl-3 pr-3">
    <span id="all"
      class="badge badge-blue cursor pl-3 pr-3 pt-1 pb-1 mr-3 linkBtn active"
      [class.active]="dados1"
      [class.inactive]="!dados1"
      (click)="carregarDados1()"
      title="Seleciona os dados 1">Dados 1
    </span>
    <span id="all"
      class="badge badge-blue cursor pl-3 pr-3 pt-1 pb-1 mr-3 linkBtn active"
      [class.active]="dados2"
      [class.inactive]="!dados2"
      (click)="carregarDados2()"
      title="Seleciona os dados 2">Dados 2
    </span>
    <button type="button" class="btn btn-success" (click)="showHelp()">Help</button>
  </div>
  <div class="row w-100 m-0 mt-2 p-0">
    <div class="col mapa-left">
      <div class="widget-pane-visible">
        <div class="scrollable">
          <div id="accordion">
            <div class="card">
              <div class="collapse show" data-parent="#accordion">
                <div id="card-body-items" class="card card-body items" *ngFor="let item of detalhe; let i=index;">
                  <div data-toggle="buttons" autofocus tabindex="i" (click)="centerChange(item)" (mouseover)="mouseOverSelectItem(item.id)" (mouseenter)="mouseEnterListItem(item)" (mouseleave)="mouseLeaveListItem(item)">
                    <div class="row mb-2">
                      <div class="col items-left">
                        <img src={{item.icon.url}} height="32px" width="32px">
                      </div>
                      <div class="col items-center pl-0 pr-0 pt-2 pb-2 text-left">
                        <h6 class="detalhe-titulo">{{item.titulo}}</h6>
                      </div>
                      <div class="col items-right pl-0 pr-0 pt-2 pb-2 text-left">
                        <h6 class="detalhe-hora">{{item.horaTitulo}}</h6>
                      </div>
                    </div>
                    <div class="row ml-2 mr-2">
                      <div class="detalhe-detalhe pb-2">
                        <div *ngIf="item.detalhe1 !== ''" [innerHTML]="getSafeHtml(item.detalhe1)"><br></div>
                        <div *ngIf="item.detalhe2 !== ''" [innerHTML]="getSafeHtml(item.detalhe2)"><br></div>
                        <div *ngIf="item.detalhe3 !== ''" [innerHTML]="getSafeHtml(item.detalhe3)"><br></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col mapa-right">
      <div *ngIf="detalhe.length > 0" class="mapa-google">
        <div class="col-12 m-0 p-0">
          <google-map width="100%" [center]="center" [zoom]="10" [options]="options">
            <map-marker *ngFor="let item of listaClusterDados1" 
              #markerElem="mapMarker"
              [position]="item.position"
              [options]="onMarkerInitDados1(markerElem, item)"
              (mapClick)="openMarkerInfo(markerElem, item.info)"
              (mapMouseover)="markerMouseOver(markerElem)"
              (mapMouseout)="markerMouseOut(markerElem)">
            </map-marker>
            <map-marker *ngFor="let item of listaClusterDados2" 
              #markerElem="mapMarker"
              [position]="item.position"
              [options]="onMarkerInitDados2(markerElem, item)"
              (mapClick)="openMarkerInfo(markerElem, item.info)"
              (mapMouseover)="markerMouseOver(markerElem)"
              (mapMouseout)="markerMouseOut(markerElem)">
            </map-marker>
            <map-info-window [innerHTML]="infoContent"></map-info-window>
          </google-map>
        </div>  
      </div>  
    </div>
  </div>
</div>
<ng-template #modalHelp let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Ajuda</h5>
    <button type="button" class="close" (click)="closeModal()">&times;</button>
  </div>
  <div class="modal-body">
    <markdown src="./assets/files/help.md"></markdown>
  </div>
</ng-template>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
